<div class="notice-wrapper">
  <% if flash[:error] %>
    <div class="show notice error notice-error">
      <span class="notice-message">
        <%= alert_string(flash[:error]) %>
      </span>
    </div>
  <% end %>
</div>
<div class="checkout">
<div class="wrapper">
  <div class="checkout container">
    <div class="content">
      <% content_for :header do %>
       <p>
          Make payment with Music-Shop using PayPal or a card
        </p>
       <% end %>

      
    <%= form_tag("/checkouts", method: "post", id: "payment-form") do %>
        <section>
          <label for="amount">
            <span class="input-label">Amount</span>
            <div class="input-wrapper amount-wrapper">
              <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="<%= @cart.total_price %>">
            </div>
          </label>

          <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
          </div>
        </section>

        <input type="hidden" id="nonce" name="payment_method_nonce" />
        <button class="button" type="submit"><span>Make Transaction</span></button>
      <% end %>

<div class="columns">
          
      <div class="column total has-text-right">
      <h4 class="title is-4">
       <%= link_to 'Back to Cart', cart_path(@cart), class: 'button is-warning'%>
      </h4>
    </div>

  </div>
  </div>
  </div>
</div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.20.3/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = "<%= @client_token %>";

  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>
